html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 101%;
	font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

div{
	position: relative;
}

body {
	line-height: 1.5;
	color: #333333;
	background: #EEEEEE;

	width: 100%;
	height: 100%;
	text-align: center;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear {
	height: 1%;
}

.clear {
	display: block;
}
/* End hide from IE-mac */

.page{
	margin: auto;

	color: #CCCCCC;

	width: 900px;
	padding: 0.63em;

	background: transparent;
}

.italics{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.keyword{
	color: #6789AB;
}

.large{
	font-size: 24px;
}

.pointer{
	cursor: pointer;
}

.center{
	margin: auto auto;
	text-align: center;
}

#nojs{
	line-height: 1.1;
	font-size: 12px;
	background: #CC3333;

	position: fixed;
	bottom: 0px;
	left: 10%;

	margin: 0px auto 0px auto;
	padding: 1px;

	width: 80%;
	z-index: 100000;

	-moz-border-radius-topleft: 35px;
	-moz-border-radius-topright: 35px;
	-webkit-border-top-left-radius: 35px;
	-webkit-border-top-right-radius: 35px;
}

h2{
	font-size: 1.63em;
	font-weight: bolder;
}

h3{
	font-size: 1.13em;
	font-weight: bolder;
}

h4{
	font-weight: bolder;
}

h5{
	margin: 0px 0px 0px 15px;
	font-size: 0.83em;
	font-weight: bold;
}

ol{
	list-style: decimal;
	margin: 0em 0em 0em 2.1em;
}

div{
	margin: 8px 0px 0px 0px;
}

p{
	padding: 0px 0px 0px 15px;
}

li, ul, ol{
	font-size: 100%;
}

a{
	color: #FFFFFF;
}

a:hover{
	color: #000000;
}

a:visited{
	color: #FFFFCC;
}

.dash{
	margin-bottom: 1em;
}

.dash li{
	margin: 0px 0px 0px 30px;
}

.dash_less li{
	margin: 0px 0px 0px 10px;
}

.dash_less li:before{
	content: "- ";
}

.dash li:before{
	content: "- ";
}

#content{
	padding: 1.5em 0em 0em 0em;
	width: 55%;

	margin: auto;
}

.content{
	text-align: left;
}

.nomarg{
	margin: 0px 0px 0px 0px;
}

.leftmarg{
	margin-left: 10px;
}

.wide{
	width: 100%;
}

.small{
	width: 30%;
}

.leftlink{
	background: #333333;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.block{
	background-color: #FFFFFF;
	/*background-color: rgba(000,000,000,.85);

	This would work if IE wasn't so God-awful.*/

	padding: 7px;

	border-radius: 5px;
}

.highlight{
	color: #000000;
	font-weight: bold;
}

.toggler{
	cursor: pointer;
}
