@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

*{
    color: $readingText;
    font-family: 'Droid Sans', sans-serif;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

.highlight{
    color: $highlightText;
}

@import "../../../vendor/font-awesome/scss/font-awesome.scss";
