html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 101%;
	font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

div{
	position: relative;
}

body {
	line-height: 1.2;
	color: #CCCCCC;
	background: #EEEEEE;
	
	width: 100%;
	height: 100%;
	text-align: center;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
			
.clear {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear {
	height: 1%;
}

.clear {
	display: block;
}
/* End hide from IE-mac */

.page{
	margin: auto;
	
	color: #CCCCCC;
	
	width: 900px;
	padding: 0.63em;
	
	background: transparent;
}

.italics{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.keyword{
	color: #6789AB;
}

.large{
	font-size: 24px;
}

.pointer{
	cursor: pointer;
}

.center{
	margin: auto auto;
	text-align: center;
}

#nojs{
	line-height: 1.1;
	font-size: 12px;
	background: #CC3333;
	
	position: fixed;
	bottom: 0px;
	left: 10%;
	
	margin: 0px auto 0px auto;
	padding: 1px;
	
	width: 80%;
	z-index: 100000;
	
	-moz-border-radius-topleft: 35px;
	-moz-border-radius-topright: 35px;
	-webkit-border-top-left-radius: 35px;
	-webkit-border-top-right-radius: 35px;
}