$mainBackground: #EEEEEE;
$highlightBackground: #DDDDDD;
$readingBackground: #FFFFFF;

$readingText: #333333;
$highlightText: #000000;

$struts: #CCCCCC;

body{
    background-color: $mainBackground;
    color: $readingText;
}
