header{
    background-color: $highlightBackground;
    padding: 1em;
    margin: 1.5em auto auto;

    @include border-radius( 1em );

    h1, h2, h3, h4, h5, h6{
        text-align: center;
    }
}
