button{
    @include border-radius( 2px );
    @include no-focus-outline();

    border: 1px solid $struts;
    padding: 0.3em 0.5em;
    outline: none;

    cursor: pointer;

    &.expand{
        width: 100%;
    }
}
