.more, .info{
    margin-left: 1.2em;
}

.issue{
    background-color: transparentize( $error, 0.75 );

    hr{
        border-bottom: 1px solid $error;
    }
}

.work-item{
    margin: 1.5em auto;
}
