header{
    background-color: $highlightBackground;
    padding: 1em;
    margin: 1.5em auto auto;

    @include border-radius( 1em );

    h1, h2, h3, h4, h5, h6{
        text-align: center;
    }

    img{
        @include border-radius( 0.25em );

        float: left;
        margin: auto -6em auto 6em;
    }
}

h3 + h4{
    text-align: center;
    cursor: auto;
}

h4{
    text-align: left;
    cursor: pointer;
}

#startIntro{
    @include border-radius( 0.25em );
    background-color: $readingBackground;

    cursor: pointer;

    height: 1.5em;
    width: 1.5em;
    margin: 0 -0.5em -1.5em 0;
    float: right;

    line-height: 1.3em;
    text-align: center;
    vertical-align: middle;

    i{
        font-size: 0.6em;
    }
}
